.divClass{
    width: 20%;
    background-color: #e6ecf0;
    
    border-radius: 3px; 
    height: 600px;
    padding-top: 10px;
    float: left;
    margin-right: 1%;
    
}

.buttonClass{
    background-color: #009FE3;
    color: white;
    border: #009FE3 solid 2px;;
    width: 90%;
    padding: 10px 0px;
    margin-top: 10px;
    font-family: Montserrat;
    border-radius: 3px;

}

.buttonClass:hover{
    color: #009FE3;
    background-color: white;
    border: #009FE3 solid 2px;
}

.buttonClass:focus{
    outline: 0;
}

