.NavBar {

    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;

}
.NavBar span {
    margin: 0px 30px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
}

.NavBar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}

.NavBar form {
    display: flex;
    flex-direction: column;
}

.NavBar label {
    color: white;
    margin: 1px;
}
.NavBar input {
    margin: 1px;
}
.NavBar form > div {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.NavBar #login-form > div{
    display: inline-block;
}

.NavBar button {
    color: #e84610;
    background-color: white;
    border: white solid 2px;
    padding: 5px;
}
.NavBar button:hover{
    color: white;
    background-color: #e84610;
    border: white solid 2px;
}