.NavBar {
    background-color: #e84610;
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavBar span {
    padding: 0px 30px;
}
.NavBar > div {
    display: flex;
    flex-direction: row;
    padding-right: 30px;
}
.NavBar form {
    display: flex;
    flex-direction: column;
}
.NavBar button {
    color: #e84610;
    background-color: white;
    border: white solid 2px;
}
.NavBar button:hover{
    color: white;;
    background-color: #e84610;
    border: white solid 2px;
}