.NavBar {
    background-color: #e84610;
    grid-row: 1;
    grid-column: 1 / span 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavBar span {
    margin: 0px 30px;
    color: white;
}
.NavBar > div {
    margin: 0 30px;
}
.NavBar button {
    color: #e84610;
    background-color: white;
    border: white solid 2px;
    padding: 5px;
}
.NavBar button:hover{
    color: white;
    background-color: #e84610;
    border: white solid 2px;
}