.SideBar {
    grid-row: 2;
    grid-column: 2 / span 1;

    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    text-align: left;
}
.SideBar > a {
    background-color: white;
    color: #445261;
    border: white solid 1px;
    padding: 10px 0px;
    margin-top: 0px;
    border-radius: 3px;
    padding-left: 10px;
}
.SideBar > a:hover{
    color: #445261;
    background-color: #e6ecf0;
    border: white solid 1px;
}

