* {
    box-sizing: border-box;
    font-family: Montserrat;
    outline: 0;
}
a {
    text-decoration: none;
}
.App {
    display: grid;
    grid-template-rows: 60px auto 50px;
    grid-template-columns: 150px minmax(150px, 0.5fr) 2fr 150px;
    /* background-color:#e6ecf0; */
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    text-align: center;
    /* margin-top: 10px; */
    height: 100vh;
}

/* .App > div {
    border: 1px black solid;
} */